@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor {
    text-align: center;

    h2 {
        font-size: 3rem;
        font-weight: 400;
        color: v.$sea-mist-950;
        margin: 3rem 0;
    }
}




.container-adds {
    display: flex;
    flex-direction: column;

    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

    }


}

.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.25rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    background: linear-gradient(145deg, v.$sea-mist-500, v.$sea-mist-700);
    margin: 2rem 0;

    @include m.tablet {
        margin: 0;
    }

    &__img {
        width: 100%;
        max-width: 18rem;
        border-radius: 0.5rem;
        margin-bottom: 0.625rem;
    }

    &__name {
        font-size: 2.5rem;
        font-weight: 900;
        color: v.$sea-mist-100;
        margin: 1rem 0;
    }

    &__description {
        font-size: 1.8rem;
        margin: 1rem 0;
        color: v.$sea-mist-100;
        margin-bottom: 1.25rem;
    }

    &__button {
        display: inline-block;
        padding: 2rem 3rem;
        background-color: v.$sea-mist-950;
        color: v.$sea-mist-100;
        text-decoration: none;
        border-radius: 0.3125rem;
        transition: background-color 0.3s;

        &:hover {
            background-color: v.$sea-mist-800;
        }
    }
}