@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 12rem;
    }


    .logo {
        img {
            width: 13rem;
            height: 13rem;
        }

    }

    .logout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 3rem;
        cursor: pointer;
        color: v.$negro;
        text-align: center;
        transition: transform 0.3s;
        font-size: 2rem;
        &:hover {
            color: v.$sea-mist-500;
            transform: scale(1.2);
        }

        @include m.tablet{
            margin:0 0 0 4rem;
        }

    }

    .navegation {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        margin-top: 2rem;

        @include m.tablet {
            flex-direction: row;
            margin-top: 0;
        }
    }

    .menu-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        @include m.tablet {
            display: flex;
            flex-direction: row;
            margin-top: 0;
        }

        a {
            padding: 1rem;
            font-size: 1.5rem;
            color: v.$negro;
            transition: transform 0.3s;

            &:hover {
                color: v.$sea-mist-500;
                transform: scale(1.2);
            }

            @include m.telefono{
                font-size: 1.8rem;
            }
            @include m.telefono{
                font-size: 2rem;
            }
        }


    }


}