@use 'base/variables' as v;
@use 'base/mixins' as m;



.main {
    background-image: url(../img/background-header.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 85rem;
    padding: 5rem 0;

    @include m.desktop {
        flex-direction: row;
        padding: 5rem;
        min-height: 70rem;
        .information {

            padding: 0rem;
        }
    }

    display: flex;
    flex-direction: column;

    .information {

        padding: 2rem;
        max-width: 100%;

        .title {
            color: v.$blanco;
            font-size: 3rem;
            font-weight: 700;
            text-align: center;
            width: 100%;

        }

        .message {
            width: 100%;
            color: lighten(v.$parrafo,80);
            font-weight: 400;
            font-size: 1.8rem;
            text-align: center;
            padding: 0 1rem;

            span {
                
                color: v.$blanco;
                font-weight: 900;
            }
        }

        @include m.desktop {

            padding: 5rem;
            .title {
                font-size: 4rem;
            }

            .message {
                font-size: 2rem;
                text-align: left;
            }
        }

    }

    .redirect {
        display: flex;
        justify-content: center;
        align-items: center;

        .button-redirect {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.2rem 2rem;
            background-color: v.$verde;
            color: v.$blanco;
            text-decoration: none;
            border-radius: 0.5rem;
            transition: background-color 0.3s;
            font-size: 1.8rem;
            font-weight: 700;
            transition: transform 0.3s;


            &:hover {
                background-color: darken(v.$verde, 10);
                transform: scale(1.2);
            }

            svg {
                margin-right: 1rem;
            }

            @include m.tablet{
                padding: 1.5rem 3rem;
            }
        }
    }

    @include m.desktop {
        .information {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 50%;

            .title {
                font-size: 5rem;

            }

            .message {
                font-size: 2.5rem;
                padding: 0 3.5rem;
            }

        }

        .redirect {
            width: 50%;

            .button-redirect {

                svg {
                    max-width: 4rem;
                }
            }
        }
    }

}