@use 'variables' as v;
@use 'mixins' as m;

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: v.$fuente_textos;
    font-size: 1.6rem;
    min-height: 100%;
    background-color: #f5f5f5 ;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor-sm {
    max-width: 70rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.right {
    margin: 0;
    @include m.tablet {
        display: flex;
        justify-content: right;
        width: 100%;
    }
}

.w-10{
    width: 10rem;
}

.m-t-5{
    margin-top: 5rem;
}

